<div id="component">
    <div class="input-field">
        <img class="addRecipe-icon prefix" src="/images/icons/harvest.svg"></img>
        <input placeholder="Ingredients" id="recipe_ingredient{{id}}" type="text" class="validate">
        <label for="recipe_ingredient">Ingredients</label>
    </div>
    <div class="input-field">
        <img class="addRecipe-amount prefix" src="/images/icons/weighing-machine.svg"></img>
        <input placeholder="Amount" id="recipe_amount{{id}}" type="text" class="validate">
        <label for="recipe_amount">Amount</label>
    </div>
    {{!-- {{> dropdown}} --}}
</div>
