<div id='ingredient-container' class=''>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            <h5 class='col s12' style='place-content: center;text-align:center'>Ingredient</h5>
        </div>
        <div id="component" class='collapsible-body'>
        </div>
    </li>
</div>
<div class='row add-ingredient'>
    <img class='col offset-s10 s2' type='btn' class="addRecipeAnotherIngredient" src="/images/icons/add.svg"
        onclick='createIngredient()' style=''></img>
</div>

<div id='description-container'>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            <h5 class='col s12' style='place-content: center;text-align:center'>Instruction</h5>
        </div>
        <div id="description" class='collapsible-body'>
        </div>
    </li>
</div>
<div class='row add-step'>
    <img class='col offset-s10 s2' type='btn' class="addRecipeAnotherIngredient" src="/images/icons/add.svg"
        onclick='createStep()' style=''></img>
</div>