<div id='ingredient-container' class=''>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            Ingredients
        </div>
        <div id="component" class='collapsible-body'>
        </div>
    </li>
</div>
<div id='description-container' onclick='enable()'>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            Instructions
        </div>
        <div id="description" class='collapsible-body'>
            <label for="post-comment" class="form-label">Comment</label>
            <textarea type="post-comment" class="form-control" id="form-comment"></textarea>
        </div>
    </li>
</div>