<div id='video-container' class=''>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            <h5 class = 'col' style='place-content: center;'>Video</h5>
        </div>
        <div id='yt-video-link' class='collapsible-body row'>
        </div>
    </li>
</div>
<div class ='row add-link' id="addLinkDiv">
    <h5 class='col' style='place-content: center;'>Add Video</h2>
        <img class='col' type='btn' id='addLinkBtn' class="addRecipeLink prefix" src="/images/icons/add.svg" onclick='addLink()'
            style='height:5rem; width:auto'></img>
</div>