<div id='video-container' class=''>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            <h5 class = 'col s12' style='place-content: center;text-align:center'>Video</h5>
        </div>
        <div id='yt-video-link' class='collapsible-body row'>
        </div>
    </li>
</div>
<div class ='row add-link' id="addLinkDiv">
        <img class='col offset-s10' type='btn' id='addLinkBtn' class="addRecipeLink prefix" src="/images/icons/add.svg" onclick='addLink()'
            style='height:5rem; width:auto'></img>
</div>