<div id='video-container' class=''>
    <li style='list-style:none'>
        <div class='collapsible-header'>
            Add a Video
        </div>
        <div id='yt-video-link' class='collapsible-body row'>
        </div>
    </li>
</div>
<div id="addLinkDiv">
    <h5>Add Video</h2>
        <img type='btn' id='addLinkBtn' class="addRecipeLink prefix" src="/images/icons/add.svg" onclick='addLink()'
            style='height:5rem; width:auto'></img>
</div>