<section id='create-recipe'>
    <div>
        <h3 class='createRecipe-name'>Create Recipe</h3>
    </div>

    <div>
        <div class="input-field">
            <img class="addRecipe-icon prefix" src="/images/icons/menu.svg"></img>
            <input placeholder="Name of Recipe" id="recipe_name" type="text" class="validate">
            <label for="recipe_name">Recipe Name</label>
        </div>

        {{> addLink}}
        {{> addIngredient}}


        <div id='submit-container'>
        </div>
    </div>
</section>
<script src="/javascript/recipe.js"></script>