<div>
    <div class="input-field">
        <img class="addRecipe-icon prefix" src="/images/icons/menu.svg"></img>
        <input placeholder="Name of Recipe" id="recipe_name" type="text" class="validate">
        <label for="recipe_name">Recipe Name</label>
    </div>
{{> addIngredient}}
      <img type ='btn' class="addRecipeAnotherIngredient prefix" src="/images/icons/add.svg" onclick='create()' style='height:5rem; width:auto'></img>
      <div>
      <img type ='btn' class="submitRecipeAnotherIngredient prefix" src="/images/icons/recipes.svg" onclick='submit()' style='height:4rem; width:auto'></img>    
      </div>
    <script src="/javascript/recipe.js"></script>
    <script src="/javascript/dropdown.js"></script>       
</div>
