<div>
    <div class="input-field">
        <img class="addRecipe-icon prefix" src="/images/icons/menu.svg"></img>
        <input placeholder="Name of Recipe" id="recipe_name" type="text" class="validate">
        <label for="recipe_name">Recipe Name</label>
    </div>
    {{#each id}}
    {{> addIngredient}}
    {{/each}}
      <img type ='btn' class="addRecipeAnotherIngredient prefix" src="/images/icons/add.svg" onclick='create()' style='height:5rem; width:auto'></img>  
    <script src="/javascript/recipe.js"></script>
</div>
