<div>
    {{#if recipe}}
    {{#each recipe}}
    <div class='collapsible recipe'>
        <li style='list-style:none'>
            <h3 class='collapsible-header'>
                {{name}}
            </h3>
            <div class = 'collapsible-body'>
            <div class='row'>
                <div class='row col'>
                    <h5>Ingredients</h5>
                    {{#each this.ingredients}}
                    <div>
                        <ol class='col'>
                            {{> ingredientList}}
                        </ol>
                        {{/each}}
                        {{#each this.amount}}
                        <ol class='col'>
                            {{> amountList}}
                        </ol>
                        {{/each}}
                    </div>
                </div>
                <div class ='col'>
                    <h5>
                        Check out the video!
                    </h5>
                    <a id="link1" href="https://www.youtube.com/watch?v={{videoLink}}" target="_blank"><img
                            src={{videoImage}}></a>
                </div>
            </div>
            {{#each this.steps}}
            <div>
                <h4>Directions to Cook</h4>
                <ol>
                    {{> stepList}}
                </ol>
            </div>
            {{/each}}
            </div>
    </div>
    {{/each}}
    {{/if}}
    </li>
</div>
<script src="/javascript/recipe.js"></script>