<div>
    Display Recipe
    {{#if recipe}}
    {{#each recipe}}
    <h3>
        {{name}}
    </h3>
    <div>
        <div class=''>
            <h5>Ingredients</h5>
            {{#each this.ingredients}}
            <ol class=''>
                {{> ingredientList}}
            </ol>
            {{/each}}
            {{#each this.amount}}
            <div class=''>
                {{> amountList}}
            </div>
            {{/each}}
        </div>
        <div>
            <h5>
                Check out the video!
            </h5>
            <a id="link1" href="https://www.youtube.com/watch?v={{videoLink}}" target="_blank"><img src={{videoImage}}></a>
        </div>
    </div>


    {{#each this.steps}}
    <div>
    <h4>Directions to Cook</h4>
     <ol>
        {{> stepList}}
    </ol>   
    </div>
    
    {{/each}}
    {{/each}}
    {{/if}}
</div>
<script src="/javascript/recipe.js"></script>