<div class='col s2' style='text-align:center'>
    <div class='row' style='margin-top:15%;'>
        <div class=' col s6'>
            <img id='export-btn{{id}}' type='btn' class="export" src="/images/icons/export.svg"
                onclick='' style='height:auto; width:5rem; padding:5px'></img>
        </div>
    </div>
</div>
       <script src="/javascript/collapsibleImages.js"></script>