{{!-- <div class='col s2' style='text-align:center'>
    <div class='row' style='margin-top:15%;'>
        <div id='qr-dropdown' class='col s6 collapsible qr-container'>
            <li style='list-style:none'>
                <div class='collapsibile-header'>
                    <img id='qr-btn{{id}}' type='btn' class="qr"
                        src="/images/icons/qr-code.svg" onclick=''
                        style='height:auto; width:5rem; padding:5px'></img>
                </div>
                <div class='collapsible-body'>
                    <img
                        src='https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=https://www.youtube.com/watch?v={{videoId}}'>
                </div>
            </li>
        </div>
        <div class=' col s6'>
            <img id='export-btn{{id}}' type='btn' class="export" src="/images/icons/export.svg"
                onclick='' style='height:auto; width:5rem; padding:5px'></img>
        </div>
    </div>
</div>
       <script src="/javascript/collapsibleImages.js"></script> --}}