
<footer id='bottom-footer'class="footer mt-auto py-3 bg-light">
  <div>
    <span class="text-muted">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
  </div>
</footer>