<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Potluck Chef</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cooking//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cooking//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cooking//favicon-16x16.png">
    <link rel="manifest" href="/images/cooking/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://apis.google.com/js/api.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
            <h1>
                <a href="/">MVC Template</a>
            </h1>
                <a id="test" class="btn-no-style" href='/testView'>test btn for navbar</a>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{> footer}}
    <script src="/javascript/test.js"></script>
</body>

</html>