<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Potluck Chef</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cooking//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cooking//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cooking//favicon-16x16.png">
    <link rel="manifest" href="/images/cooking/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <script src="/javascript/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class='nav' style='background-color:#ef8f06 !important;height:75px;'>
                <div class="nav-wrapper">
                    <div class='row'>
                        <div class='row s8'>
                            <a href="#" data-target="slide-out" class="sidenav-trigger col"><i
                                    class="material-icons">menu</i></a>
                            <img href="/" type='button' style='height:auto;width:100%;max-width: 75px !important;margin-top: 10px;'
                                src='/images/icons/cooking.svg' class='hide-on-med-and-down col s2'>
                            <a href="/" id='navbar-header' class='col m8'>The Potluck Chef</a>
                            <ul id="nav-mobile" class="right col hide-on-med-and-down" style='padding:0px;'>
                                <li class='nav-btn'><a id='dashboardBtn' href="/kitchen">Your Kitchen</a></li>
                                {{#if loggedIn}}
                                <li class='nav-btn'><a id='logoutBtn' onclick='logOut(event)'>Log Out</a></li>
                                {{else}}
                                <li class='nav-btn'><a href="/login">Log In</a></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="images/office.jpg">
                        </div>
                        <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a class="waves-effect" href="/">View Recipes</a></li>
                <li><a class="waves-effect" href="/kitchen">My Kitchen</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                {{#if loggedIn}}
                <li><a class="waves-effect logoutBtn" onclick='logOut(event)'>Log Out</a></li>
                {{else}}
                <li><a class="waves-effect" href="/login">Log In</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{> footer}}
</body>
<script src="/javascript/logout.js"></script>
<script src='/javascript/navbar.js'></script>

</html>