<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Potluck Chef</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cooking//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cooking//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cooking//favicon-16x16.png">
    <link rel="manifest" href="/images/cooking/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">MVC Template</a>
            </h1>
            <nav>
                <button id="test" class="btn-no-style">test btn</button>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    <script src="/javascript/test.js"></script>
    {{> footer}}
</body>

</html>