<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Potluck Chef</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cooking//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cooking//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cooking//favicon-16x16.png">
    <link rel="manifest" href="/images/cooking/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://apis.google.com/js/api.js"></script>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <script src="/javascript/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class='navi'>
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <a style='    font-size: 50px;' href="/" class="logo"><img class='brand'
                            src="/images/cooking/favicon-32x32.png">Potluck Chef</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class='nav-btn'><a href="/kitchen">Your Kitchen</a></li>
                        {{#if loggedIn}}
                        <li class='nav-btn'><a id='logoutBtn' onclick='logOut(event)'>Log Out</a></li>
                        {{else}}
                        <li class='nav-btn'><a href="/login">Log In</a></li>
                        {{/if}}
                    </ul>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <li><a class="waves-effect" href="/">View Recipes</a></li>
                <li><a class="waves-effect" href="/kitchen">My Kitchen</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                 {{#if loggedIn}}
                <li><a class="waves-effect logoutBtn" onclick='logOut(event)'>Log Out</a></li>
                {{else}}
                <li><a class="waves-effect" href="/login">Log In</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{> footer}}
</body>
<script src="/javascript/logout.js"></script>
<script src='/javascript/navbar.js'></script>
</html>