<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Potluck Chef</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cooking//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cooking//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cooking//favicon-16x16.png">
    <link rel="manifest" href="/images/cooking/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://apis.google.com/js/api.js"></script>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <script src="/javascript/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="nav-wrapper">
                <a href="/" class="logo"><img src="/images/cooking/favicon-32x32.png">Potluck Chef</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/kitchen">Your Kitchen</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a id='logoutBtn'>Log Out</a></li>
                    <script src="/javascript/logout.js"></script>
                </ul>

            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{> footer}}
</body>

</html>