<div class='container'>
    <h3 style='text-align:center;text-decoration:underline'>All Recipes</h3>
    <div>
        {{> displayRecipe}}
    </div>
</div>
<script src="/javascript/index.js"></script>