<div class='row recipe-container'>
    <h3 style='text-align:center;text-decoration:underline'>Your Kitchen</h3>
    <div class='col s12 m6 addRecipe'>
        {{> addRecipe}}
    </div>
    <div class='col s12 m6 displayRecipe'>
        {{> displayRecipe}}
    </div>
</div>