body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f1fcff
  }

  main {
    flex: 1 0 auto;
  }

*{
  font-family: 'Slabo 13px', serif;
}
.navi,.page-footer {
  background-color: #ff9800;
}
.nav-btn {
  background-color: #ff9800;
}
.recipe {
  padding:0px
}
.recipe-container{
  padding: 2%;
}
.addRecipe{
  border-style: dashed;
}
.collapsible {
  font-family: 'slabo';
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 4px 4px 0 #ff9800, 0 6px 20px 0 #ffc107
}
.collapsible-header {
  background-color: beige;
  padding: 2%;
}
.collapsible-body {
  background-color: beige;
  border-style: dashed;
;
}
.ingredient-box,.ingredientL{
  margin-right: 0px;
  padding-right: 0px;

}
#yt-video-link,#component,#description{
  border-style: none;
  margin: 0px 1%;
  box-shadow: 0 4px 4px 0 #ff9800, 0 6px 20px 0 #ffc107
}
.yt-video{
  height: auto;
  width: 100%;
  max-width: 300px;
}
.qr-box {
  height: auto;
  width: 100%;
  max-width: 75px;
}
.nav {
  border-style: dashed;
  border-color: black;
  border-right: none;
  border-left: none;
  border-top: none;
}
#dashboardBtn,#logoutBtn,#loginNav{
  border-style: dotted;
  border-color: black;
  border-top: none;
  border-right:none;
}

.footer-copyright {
  border-style:dotted;
}

.page-footer {
  border-style: dashed;
}
.page-footer,.footer-copyright {
  border-color: black;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.addRecipe img {
  height: auto;
  width: 100%;
  max-width: 75px;
}
.deleteBtn {
  margin:0px !important;
  height:auto;
  width: 100%;
  max-width: 50px;
}
.displayRecipe-name,.createRecipe-name {
  text-align: center;
}
#navbar-header {
  font-size:45px;
  margin-top:10px;
}
.background {
  background-color: #ff9800;
}
@media screen and (max-width: 500px) {
  #navbar-header {
    font-size: 25px !important;
  }
} 
@media screen and (max-width: 330px) {
  #navbar-header {
    font-size: 15px !important;
  }
} 